[run]
source = manticore
omit =
	*__init__.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't try to cover special syntax "..." in abstract class
    \.\.\.
