[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "manticore"
version = "0.3.7"
description = "Manticore is a symbolic execution tool for analysis of binaries and smart contracts."
readme = "README.md"
license = { file = "LICENSE" }
authors = [
    { name = "Trail of Bits", email = "opensource@trailofbits.com" }
]
classifiers = [
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Development Status :: 7 - Inactive",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "Topic :: Security",
]
dependencies = [
    "pyyaml",
    "pysha3",
    "protobuf~=3.20",
    "prettytable",
    "ply",
    "rlp",
    "intervaltree",
    "crytic-compile>=0.2.2",
    "wasm-tob @ git+https://github.com/trailofbits/wasm-tob.git",
    "pyevmasm>=0.2.3",
    "z3-solver",
]
requires-python = "<3.11,>=3.7"

[project.urls]
Homepage = "https://pypi.org/project/manticore/"
Issues = "https://github.com/trailofbits/manticore/issues"
Source = "https://github.com/trailofbits/manticore"

[project.scripts]
manticore = "manticore.__main__:main"
manticore-verifier = "manticore.ethereum.verifier:main"

[project.optional-dependencies]
native = [
    "capstone==5.0.0rc2",
    "pyelftools",
    "unicorn~=2.0",
]
redis = ["redis"]
lint = [
    "black~=22.0",
    "mypy==0.790",
]
dev-noks = [
    "build",
    "manticore[native,lint]",
    "coverage",
    "py-evm",
    "Sphinx",
    "pytest>=5.3.0",
    "pytest-xdist>=1.30.0",
    "pytest-cov>=2.8.1",
    "jinja2"
]
dev = [
    "manticore[dev-noks]",
    "keystone-engine",
]

[tool.black]
line-length = 100
extend-exclude = '''
(
  venv
  | server # Has its own formatting
)
'''
