{%block imports %}
import unittest
from os.path import dirname, abspath, join
from manticore.platforms import wasm
from manticore.wasm import ManticoreWASM
from manticore.wasm.types import I32, F32, I64, F64, Trap
from manticore.core.plugin import Plugin
from base64 import b64decode
import math


from manticore.utils import config
consts = config.get_group("core")
consts.mprocessing = consts.mprocessing.single

def assertEqualNan(testcase, a_list, b):
    """ b_list: list of exected return values
        a_list: 3-nested lists: One for each state, containing one for each of the n possible return values, each containing the output of solver.get_all_values """
    assert len(a_list) == 1, f"Diverged into {len(a_list)} states!"
    for state_a in a_list:
        assert len(state_a) == len(b), f"Returned {len(a)} values! (Expected {len(b)})"
        for a in state_a:
            assert len(a) <= 1, "Found multiple possible values!"
            for a_item, b_item in zip(a, b):
                testcase.assertAlmostEqual(a_item, b_item)
{% endblock %}

class RaiseExceptionPlugin(Plugin):

    def did_kill_state_callback(self, current_state, exc):
        raise exc

{% for module in modules %}
class WASMTest_{{ module.name }}(unittest.TestCase):
    _multiprocess_can_split_ = False
    filename = join(dirname(abspath(__file__)), "{{ module.filename }}")
    subtest_count = 0

    def run(self, result=None):
        result = super().run(result)
        setattr(result, "testsRun", self.subtest_count + getattr(result, "testsRun", 0) - 1)
        return result

    def test_{{ module.name }}(self):
        m = ManticoreWASM(self.filename)
        m.register_plugin(RaiseExceptionPlugin())

        {% for test in module.tests %}
        with self.subTest(msg={{ test.func | escape_null }} + "_L{{test.line}}"):
            print("======V======", {{ test.func | escape_null }} + "_L{{test.line}}", "(Symbolic)", "======V======")
            self.subtest_count += 1

            if self.subtest_count % 50 == 0:
                print("Reinitializing Manticore object after 50 symbolic tests")
                m = ManticoreWASM(self.filename)
                m.register_plugin(RaiseExceptionPlugin())

            def create_argv(state):
                argv = []
                {% for arg in test.args %}
                argv.append({{arg.constraint}})
                state.constrain(argv[-1] == {{arg.val}})
                {% endfor %}
                return argv

            expected = [{{ test.rets }}]
            {% if test.type == "assert_return" %}
            m.invoke(name={{ test.func | escape_null }}, argv_generator=create_argv)
            m.run()
            rets = m.collect_returns(len(expected))
            m._reinit()
            assertEqualNan(self, rets, expected)
            {% endif %}
            {% if test.type == "assert_trap" %}
            m.invoke(name={{ test.func | escape_null }}, argv_generator=create_argv)
            with self.assertRaises(Trap):
                m.run()
            m = ManticoreWASM(self.filename)
            m.register_plugin(RaiseExceptionPlugin())
            {% endif %}
            {% if test.type == "action" %}
            m.invoke(name={{ test.func | escape_null }}, argv_generator=create_argv)
            m.run()
            m._reinit()
            {% endif %}
        {% endfor %}

{% endfor %}

if __name__ == "__main__":
    unittest.main()
